/* RESET */
*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: "whitney", Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.container{
    margin: auto;
}

.section{
    display: flex;
    width: 80%;
    margin: 2rem auto;
    min-height: 400px;
}

.button{
    width: 10%;
    text-align: center;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;    
    /* min-height: 20px; */
    color: black;
    padding: 0.5em;
}

/* HEADER */
header{
    background-color: rgb(17, 80, 254);
    padding-top: 2rem;
    margin: 0 auto;
    height: 6rem;
}

/* nav-bar */
.flex-nav{
    display: flex;
    width: 80%;
    align-items: center; 
    justify-content: space-around;
}

.logo-container{
    width: 9em;
}

.link-container{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 70%;
    color: white;
    font-size: 0.8em;      
}

.link-container>li{
    padding-right: 2rem;
    padding-left: 2rem;
}



/* MAIN */
/* banner */
.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    min-height: 550px;
    background-repeat: no-repeat;
}

.jumbo-text{
    width: 50%;
    text-align: center;
    padding: 4rem;
    margin: 0 auto;
    color: white;
    line-height: 3em;
}

.jumbo-text>h1{
    padding:1em;
}

.jumbo-text>p{
    margin-bottom: 3em;
}

.open-discord{
    background-color: black;
    color: white;
    padding: .5em;
    margin-left: 2em;
    /* white-space: normal; */
}
/* /banner */

.text-container{
    width: 40%;
    text-align: left;
    padding-bottom:3em;
    padding-top: 3em;
}

.title-section{
    margin-bottom: 1em;
    line-height: 1.5em;
}

.paragraph-section{
    line-height: 1.5em;
}

.wave{
  opacity: 0.2;
  margin-bottom:-4px; 
  width: 100%;  
}

.wave.reverse{
    transform:rotate(180deg);
    vertical-align: top;
    width: 100%;
    opacity: 0.2;
}

.wave-container{
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.396);
    display: flex;
    width: 100%;        
    margin: 0 auto;
    min-height: 440px;
    padding: 20px, 0;
         
}

.text-large-part{
    text-align: center;
    width: 90%;
    margin: 4em auto;
}

.section-large{ 
    margin: auto;
    width: 80%;
    min-height: 600px;
}

.big-img{
    min-height: 700px;
    text-align: center;
}

.star-question{

    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    margin: 2em auto 0;
    padding: 1.5em;
}

.scarica-finale{
 background-color: rgb(85, 69, 189);
 color: white;   
}

.pedice{
    text-align: center;
    margin-bottom: 4em;
}

/* FOOTER */
.black-container{
    background-color: black;
    width: 100%;
    min-height: 640px;
    margin: auto;
    padding: 20px 0;
    }

.bigger > h2{
    color: rgb(85, 69, 189);
}

.flag{
    width: 20px;
}

a{
    color:white;
    text-decoration: none;
}

.social-icons{
    color: white;
}

.zero{
    width: 20%;
    color: white;
}

.flex-footer{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.footer-nav{
    list-style: none;
    padding-left: 2em;
    line-height: 2em;
}

.footer-nav li:first-child{
    color: rgb(85, 69, 189);
}

hr{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: rgb(85, 69, 189);
    border: none
}

.final{
    background-color:rgb(85, 69, 189);
    color: white;
}